

<div class="container">
  <div class="container__head-bar">
     <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
     </ul>
  </div>
  <div class="container__main-content">
   <h1>Welcome to Colonial House Cafe</h1>
   <p>Total 3 HTML pages are included in this template. Header image has a parallax <br>
     effect. You can feel free to download, edit and use this TemplateMo layout for <br>
      your commercial or non-commercial websites.</p>
  </div>
  <div class="container__main-content__buttons">
     <p class="box">Pizza</p>
     <p class="box">Salad</p>
     <p class="box">Noodles</p>
     <p class="box">Pasta</p>
  </div>
  <div class="container__main-content__images">
   <div class="image-1">
     <img src="../assets/images/fried-halloumi-salad-4k-awesome-wallpaper-preview.jpeg" alt="">
     <div class="card">
      <p class="head">Greek Salad</p>
     <p class="content">Nam in suscipit nisi, <br>
       sit amet consectetur metus. <br>
       Ut sit amet tellus accumsan</p>
       <p class="price">$250</p>
     </div>
   </div>
   <div class="image-1">
     <img src="../assets/images/pizzaa.jpeg" alt="">
    <div class="card">
      <p class="head">Cheese Burst Pizza</p>
      <p class="content">Nam in suscipit nisi, <br>
        sit amet consectetur metus. <br>
        Ut sit amet tellus accumsan</p>
        <p class="price">$650</p>
    </div>
   </div>
   <div class="image-1">
     <img src="../assets/images/steaaak.jpeg" alt="">
    <div class="card">
      <p class="head">Honey Glazed Steak</p>
      <p class="content">Nam in suscipit nisi, <br>
        sit amet consectetur metus. <br>
        Ut sit amet tellus accumsan</p>
        <p class="price">$450</p>
    </div>
   </div>
   <div class="image-1">
     <img src="../assets/images/pasta.jpeg" alt="">
     <div class="card">
      <p class="head">Arabaraita Pasta</p>
     <p class="content">Nam in suscipit nisi, <br>
       sit amet consectetur metus. <br>
       Ut sit amet tellus accumsan</p>
       <p class="price">$520</p>
     </div>
   </div>
   <div class="image-1">
     <img src="../assets/images/meat.jpeg" alt="">
     <div class="card">
      <p class="head">Prasley Filled Meat Balls</p>
     <p class="content">Nam in suscipit nisi, <br>
       sit amet consectetur metus. <br>
       Ut sit amet tellus accumsan</p>
       <p class="price">$220</p>
     </div>
   </div>
   <div class="image-1">
     <img src="../assets/images/pancake.jpeg" alt="">
    <div class="card">
      <p class="head">Fruit Loaded Pancake</p>
      <p class="content">Nam in suscipit nisi, <br>
        sit amet consectetur metus. <br>
        Ut sit amet tellus accumsan</p>
        <p class="price">$350</p>
    </div>
   </div>
   <div class="image-1">
     <img src="../assets/images/dumplings.jpeg" alt="">
     <div class="card">
      <p class="head">Steamed Dumplings</p>
     <p class="content">Nam in suscipit nisi, <br>
       sit amet consectetur metus. <br>
       Ut sit amet tellus accumsan</p>
       <p class="price">$350</p>
     </div>
   </div>
   <div class="image-1">
     <img src="../assets/images/brownie.jpeg" alt="">
     <div class="card">
      <p class="head">Chocolate Brownie</p>
     <p class="content">Nam in suscipit nisi, <br>
       sit amet consectetur metus. <br>
       Ut sit amet tellus accumsan</p>
       <p class="price">$220</p>
     </div>
   </div>
  </div>
  <div class="footer">
    <div class="left">
      <h3>Address</h3>
      <p>1234 Street Name</p>
      <p>City, AA 99999</p>
      <h3>Contacts</h3>
      <p>Email: supportmobirise.com</p>
      <p>Fax: +1 (0) 000 0000 002</p>
    </div>
    <div class="right">
      <h3>Contact Us</h3>
      <label for="">Name:</label>
      <input type="text">
      <br>
      <label for="">Email:</label>
      <input type="email">
      <br>
      <label for="">Message:</label>
      <input type="text">
    </div>
  </div>
  <div class="lower-footer">
    <ul>
      <li>Home</li>
      <li>Menus</li>
      <li>Our Story</li>
      <li>Chef John Smith</li>
      <li>Contacts</li>
    </ul>
  </div>
  <div class="image-footer">
    <img src="../assets/images/facebook (1).png" alt="">
    <img src="../assets/images/youtube.png" alt="">
    <img src="../assets/images/twitter.png" alt="">
    <img src="../assets/images/instagram.png" alt="">
  </div>
</div>



<router-outlet />
